* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables */

:root {
  --pink-bg: #fbf5f5;
  --orange: #f3684a;
  --almost-black: #2d2a2a;
  --footer-text: #7d7878;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*header start*/
/*header dev done by Popeashiedu*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://res.cloudinary.com/dhypceiuh/image/upload/v1591737301/img/homepage_nigy7v.jpg);
  background-size: 100%;

  height: 81vh;

  color: #ffffff;
}

/*header end*/

/*navbar start*/
.main-head {
  padding: 1px;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 8%;
  margin-top: 4%;
}

.logo {
  width: 23%;
}

.hide {
  display: none;
}

.navlist {
  width: 100%;
  flex-direction: column;
}

.nav-item {
  text-decoration: none;
  cursor: pointer;
  color: var(--orange);
}


#hamclose {
  display: none;
}

.navlist {
  width: 100%;
  flex-direction: column;

}

.navlist.show {
  display: flex;
  text-align: center;
  line-height: 32px;
  transition: .9s ease-in-out;
  box-shadow: 0px 0px 2px 0px #f9f9f9;
  padding: 2%;
  position: absolute;
  top: 23%;
  left: 9%;
  background: #fff;
  width: 83%;
  border: 2px solid var(--orange);
}

.hamburger,
.hamclose {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  margin-right: 6%;
}

.hamburger:focus,
.hamclose:focus {
  outline: none;
}

.fa-bars,
.fa-times {
  font-size: 1.5rem;
}

/*navbar end*/

/*Header content starts*/
#header-content {
  max-width: 77%;
}

#heading p {
  padding: 0rem;
  font-size: 150%;
  font-weight: 500;
  letter-spacing: 0.21rem;
  line-height: 130.19%;
  font-style: normal;
}

#heading {
  margin-top: 1rem;
  background: #f3684a;
}

#slogan {
  margin-top: 21%;
}

#slogan p {
  font-size: 550%;
  font-weight: bold;
  line-height: 125.19%;
}

#appeal {
  margin-top: 5%;
}

/*Header content ends*/

/*Check-in form starts*/
form {
  display: flex;
  justify-content: space-between;
  margin-top: -4.5rem;
  background: #ffffff;
}

#form {
  max-width: 70%;
  margin: auto;
  /* height: 50vh; */
}

.form-element {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  padding: 1rem;
  margin-top: 4%;
}

.form-label {
  color: #f3684a;
  font-weight: bold;
  margin-bottom: 0.7rem;
}

.inputs {
  width: 150%;
  padding: 0.7rem;
  background: #fbf5f5;
  border: none;
  color: #b8b3b3;
}

#btn-header {
  width: 50%;
  background: #f3684a;
  border: none;
  color: #ffffff;
  font-size: 0.875rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 4%;
  margin-bottom: 10%;
  margin-left: 24%;
}

#btn-header:focus {
  outline: 0;
}

#btn-header:hover {
  color: #f3684a;
  background: #ffffff;
  box-shadow: 0 0 0 2px #f3684a;
}

/*Check-in form ends*/

/*media queries*/
@media all and (min-width: 0px) {
  header {
    background-size: cover;
    background-position: 30% 77%;
    max-width: 100vw;
    padding: 1px;
  }

  #nav-bar {
    padding: 0rem;
    padding-top: 1rem;
    margin-left: 0;
    justify-content: space-between;
  }

  .logo {
    width: 45%;
    margin-left: 16%;
  }

  #heading p {
    background: #f3684a;
    padding: 0.3rem;
    font-size: 0.575rem;
    text-align: center;
  }

  #heading {
    max-width: 100%;
    width: 63%;
    margin-left: -9%;
  }

  #slogan,
  #appeal {
    margin-left: 0rem;
    text-align: center;
  }

  #header-content {
    display: flex;
    flex-direction: column;
    max-width: 93%;
    justify-items: center;
    align-items: center;
  }

  #slogan p {
    font-size: 105%;
    font-weight: bold;
    line-height: 125.19%;
    text-align: center;
    margin-top: 1rem;
  }

  #appeal p {
    font-size: 0.575rem;
    text-align: center;
    margin-top: 8%;
    line-height: 1.7;
  }

  #form {
    max-width: 100vw;
    margin: 0;
  }

  #check-in {
    display: flex;
    flex-direction: column;
    padding: 0 11%;
  }

  .form-element {
    display: flex;
    flex-direction: column;
    margin: 0.3rem;
    padding: 0.5rem;
  }

  .form-label {
    color: #f3684a;
    font-weight: 500;
    font-size: small;
    margin-bottom: 0.2rem;
    text-align: center;
  }

  .inputs {
    width: 100%;
    padding: 0.7rem;
  }

  #btn {
    width: 91%;
    background: #f3684a;
    border: none;
    color: #ffffff;
    font-size: 78%;
    cursor: pointer;
    padding: 0.8rem;
    margin: auto auto 1rem auto;
  }
}

@media all and (min-width: 750px) {

  #slogan {
    margin-top: 4%;
  }

  #heading {
    margin-top: 2%;
    width: 39%;
    margin-left: -33%;
  }

  #header-content {
    display: flex;
    flex-direction: column;
    max-width: 93%;
    justify-items: center;
    align-items: center;
  }

  #heading p {
    background: #f3684a;
    padding: 0.3rem;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 10%;
    margin: auto;
  }

  #slogan p {
    font-size: 1.7rem;
    font-weight: bold;
    line-height: 125.19%;
    text-align: center;
    margin-top: 10%;
  }

  #appeal p {
    font-size: 0.875rem;
    margin-top: 3%;
  }

  #btn {
    width: 47%;
    background: #f3684a;
    border: none;
    color: #ffffff;
    font-size: 78%;
    cursor: pointer;
    padding: 0.8rem;
    margin: 1rem auto 1rem auto;
  }

  .form-label {
    color: #f3684a;
    font-weight: 800;
    font-size: 1rem;
    margin-bottom: 0.2rem;
    text-align: center;
  }

  #btn-header {
    font-size: 1rem;
    padding: 2%;
  }
}

@media all and (min-width: 1000px) {


  header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 1% 10%;
    max-width: 100vw;
    /* overflow: hidden; */
  }

  #header-content {
    width: 50%;
    height: 57%;
  }

  #heading {
    margin-top: 10%;
    width: 50%;
    margin-left: 0%;
  }

  #slogan {
    margin-left: 47%;
    width: 100%;
    margin-top: 0%;
  }

  #slogan p {
    font-size: 3.4rem;
    line-height: 125.19%;
    text-align: left;
  }

  #appeal {
    margin-top: 0.7rem;
    width: 100%;
    margin-left: 18%;
    margin-left: 47%;
  }

  #appeal p {
    font-size: 0.875rem;
    margin-top: 0rem;
    text-align: left;
  }

  form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: -4%;
    background: #ffffff;
  }

  #form {
    max-width: 100%;
    width: 73%;
    margin-left: 13%;
  }

  #check-in {
    display: flex;
    flex-direction: row;
    padding: 0;
    box-shadow: 1px 0 10px 2px #f9f9f9;
  }

  .form-element {
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    padding: 2%;
  }

  .form-label {
    color: #f3684a;
    font-weight: bold;
    margin-bottom: 0.7rem;
    text-align: left;
    font-size: 0.775rem;
  }

  .inputs {
    width: 130%;
    font-size: 0.675rem;
    background: #fbf5f5;
    border: none;
    color: #b8b3b3;
    padding: 9%;
    outline: 0;
  }


  #btn-header {
    width: 25%;
    background: #f3684a;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    margin: 0;
  }
}

/*Done by Netacci*/
/* about-us section */
.aboutus {
  margin-top: 5%;
}

.about-text {
  color: var(--almost-black);
  font-size: 1.3rem;
  margin-top: 3%;
  margin-left: 12%;
  font-weight: 600;
}

.about-p {
  color: #4a4a4a;
  line-height: 1.5;
  margin-top: 4%;
}

.about-body-wrap {
  padding: 0 12%;
}

.about-pic {
  width: 100%;
  margin-top: 10%;
  animation: picabout 3s ease-in-out forwards;
  transition: all 0.3s ease-in-out 0s;
}

@keyframes picabout {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* number of facilities listed */
.facility-number {
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
}

.firstnum {
  display: grid;
  grid-template-columns: 20% 100%;
}

.dot {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #f3684a;
  justify-self: center;
  margin-top: 36%;
}

.fac-num {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--almost-black);
}

.fac-text {
  font-size: 0.675rem;
  color: var(--footer-text);
  grid-column: 2;
  margin-top: 3%;
}

/* top picks section */
.top-picks {
  margin-top: 10%;
}

.top-pick-section {
  padding: 0 12%;
}

.top-images {
  margin-top: 5%;
}

.top-pick-img {
  width: 100%;
}

.room-name {
  color: var(--almost-black);
}

.room-price {
  color: var(--almost-black);
  font-size: 0.875rem;
}

.per {
  color: var(--orange);
  font-size: 0.675rem;
  margin-top: 3%;
}

.star {
  width: 35%;
  margin-top: 3%;
}

.top-pick-prices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 5%;
  box-shadow: 0px 6px 3px 0px #fff9f9;
}

.page-wrapper {
  margin-top: 8%;
}

.post-slider {
  position: relative;
}

.post-slider .review-title {
  font-weight: 500;
  font-size: 1.3rem;
  color: #f3684a;
  padding: 5% 0% 1% 12%;
}

.post-slider .review {
  font-size: 1.8rem;
  padding-left: 12%;
}

.post-slider .review-wrapper {
  width: 70%;
  height: 30%;
  overflow: hidden;
  margin: 0px auto;
}

.post-slider .next {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 55%;
  right: 12%;
  cursor: pointer;
}

.post-slider .prev {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 55%;
  left: 12%;
  cursor: pointer;
}

.post-slider .review-wrapper .post {
  position: relative;
  width: 25%;
  height: 55vh;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.post .picture-one {
  margin-bottom: 0;
}

.picture-one .pic-one {
  position: absolute;
  top: 15%;
  left: 20px;
}

.picture-one .pic-name {
  position: absolute;

  top: 13%;
  left: 35%;
}

.picture-one .pic-title {
  position: absolute;

  top: 20%;
  left: 35%;
}

.post .post-one {
  padding: 6px;
  position: absolute;
  bottom: 3%;
}

.pre-slider {
  position: relative;
}

.pre-slider .review-title {
  font-weight: 500;
  font-size: 0.875rem;
  color: #f3684a;
  padding: 5% 0% 6% 10%;
}

.pre-slider .review {
  font-size: 1.3rem;
  padding-left: 10%;
  /* padding-bottom: 4%; */
}

.pre-slider .single-file {
  width: 90%;
  height: 60vh;
  overflow: hidden;
  margin: 0px auto;
}

.pre-slider .plus {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 93%;
  right: 30px;
  cursor: pointer;
}

.pre-slider .neg {
  width: 60px;
  height: 50px;
  position: absolute;
  top: 93%;
  left: 30px;
  cursor: pointer;
}

.pre-slider .single-file .post {
  position: relative;
  width: 80%;
  height: 50vh;

  display: inline-block;
}

.post .picture-one {
  padding-bottom: 10px;
}

.picture-one .pic-one {
  position: absolute;
  top: 10%;
  left: 20px;
}

.picture-one .pic-name {
  position: absolute;

  top: 13%;
  left: 35%;
}

.picture-one .pic-title {
  position: absolute;

  top: 20%;
  left: 35%;
}

.post .post-two {
  padding: 15px 0px 0px 30px;
  position: absolute;
  bottom: 15%;
  margin-left: 20px;
}

@media all and (max-width: 1100px) {
  .post-slider {
    display: none;
  }
}

@media all and (min-width: 1110px) {
  .pre-slider {
    display: none;
  }
}

/* book room section */

.book-room {
  display: flex;
  padding: 10%;
  flex-direction: column;
}

.book-room__img {
  width: 100%;

}

.book {
  background: var(--orange);
  width: 100%;
  margin-top: 0;
  padding: 1px;
  text-align: center;
}

.book-text {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
  margin-top: 5%;
  padding: 9%;
  text-align: left;
}

/* carousel section */

.photo-title {
  margin-left: 11%;
  color: var(--orange);
  font-size: 0.875rem;
}

.picks-title {
  margin-left: 12%;
}

.photo-text {
  color: var(--almost-black);
  margin-left: 11%;
  font-size: 1.3rem;
  margin-top: 3%;
  font-weight: 600;
}

.carousel {
  position: relative;
  margin: auto;
  margin-top: 10%;
}

.carousel-container {
  padding: 8px;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carol-img {
  width: 100%;
  height: 80%;
}

.carousel-track {
  list-style: none;
  position: relative;
  height: 300px;
  transition: transform 250ms ease-in;
  margin-top: 10%;
}

.slide-link {
  text-decoration: none;
  color: #293651;
  font-size: 1.2rem;
}

.carousel-slide {
  text-align: center;
  width: 100%;
  position: absolute;
  /* height: 500px; */
  top: 0;
  bottom: 0;
}

.carousel-button {
  position: absolute;
  top: -8%;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 50%;
}

.carousel-left {
  left: 3%;
}

.carousel-right {
  right: 3%;
}

.left-arrow,
.right-arrow {
  width: 25%;
}

.hide {
  display: none;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

/* footer */

.foot {
  margin-left: 11%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2%;
}

.foot-logo {
  grid-column: 1/3;
}

.foot-logo_img {
  width: 23%;
}

.foot-text {
  color: var(--footer-text);
  font-size: 0.875rem;
  line-height: 1.6;
  width: 87%;
  margin-top: 2%;
}

.socials {
  margin-top: 2%;
  margin-bottom: 5%;
}

.fab {
  font-size: 1.5rem;
}

.fa-facebook {
  color: #3b5998;
}

.fa-youtube {
  color: #ff0000;
}

.fa-twitter-square {
  color: #55acee;
}

.navigation-title,
.contact-title {
  color: var(--footer-text);
  font-weight: 600;
}

.navigation-links {
  display: grid;
  margin-top: 3%;
}

.navigation-text {
  color: var(--footer-text);
  text-decoration: none;
  margin-top: 3.3%;
}

.contact {
  padding: 1%;
}

.contact-text {
  margin-top: 1.3%;
  color: var(--footer-text);
}

.contact-tel {
  margin-top: 5%;
}

.contact-wrap {
  margin-top: 3%;
}

.newsletter {
  margin-top: 5%;
  grid-column: 1/3;
}

.news-text {
  color: var(--footer-text);
  margin-top: 5%;
  width: 87%;
}

.input-wrap {
  display: flex;
  margin-top: 2%;
  margin-bottom: 5%;
}

.news-input {
  padding: 2%;
  border-radius: 5px 0 0 5px;
  background: #f8f8f8;
  border: 0.5px solid #e4e4e4;
}

.news-input:focus {
  outline: none;
  border: none;
}

.news-input::placeholder {
  color: #7d7878;
  font-size: 0.765rem;
}

.send-img {
  width: 75%;
  padding: 4%;
}

.send-icon-btn {
  background: #f3684a;
  border: 0;
  outline: 0;
  padding: 1%;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.send-icon-btn:focus {
  outline: 0;
}

.copyright {
  margin-top: 5%;
  grid-column: 1/3;
  margin-bottom: 8%;
  justify-self: left;
}

.copy-text {
  color: var(--footer-text);
  font-size: 0.675rem;
}

.copy-p {
  margin-top: 4%;
}

hr {
  width: 86%;
  grid-column: 1/3;
}

/* buttons */

.btn {
  padding: 3%;
  border: 0;
  width: 47%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  outline: 0;
  cursor: pointer;
}

.about-btn {
  background: var(--orange);
  color: #fff;
  padding: 2%;
  width: 33%;
  margin-top: 4%;
  transition: all 0.3s ease-out;
}

.about-btn:focus {
  outline: none;
}

.about-btn:hover {
  color: var(--orange);
  background: #fff;
  box-shadow: 0 0 0 2px var(--orange);
}

.book-btn {
  border-radius: 20px;
  margin-bottom: 17%;
  color: var(--orange);
  transition: all 0.3s ease-out;
}

.btn:focus {
  outline: none;
}

.book-btn:hover {
  color: #fff;
  background: var(--orange);
  box-shadow: 0 0 0 2px #fff;
}

/* Media queries */

@media all and (min-width: 768px) {



  .logo {
    margin-left: 2%;
    width: 21%;
  }

  .hamburger,
  .hamclose {
    display: none;
  }

  .nav-item {
    color: var(--orange);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }

  .nav-item:hover {
    color: #fff;
  }

  .navlist {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    margin-top: 1%;
    width: 66%;

  }

  .about-pic {
    transition: all 0.3s ease-in-out;
  }

  .about-pic:hover {
    transform: translateZ(20px);
  }

  .fac-num {
    font-size: 1.4rem;
  }

  .fac-text {
    font-size: 0.765rem;
  }

  .book-text {
    font-size: 1.4rem;
  }

  .photo-title {
    font-size: 1.3rem;
  }

  .pre-slider .review-title {
    font-size: 1.3rem;
  }

  .pre-slider .review {
    font-size: 2rem;
    width: 61%;

  }

  .top-pick-img {
    transition: all 0.3s ease-in-out;
  }

  .top-pick-img:hover {
    transform: translateX(20px);
  }

  .photo-text {
    font-size: 2rem;
    width: 60%;
  }

  .about-text {
    font-size: 2rem;
    width: 41%;
  }

  .carousel-right {
    right: -13%;
  }

  .carousel-left {
    left: -13%;
  }

  .left-arrow,
  .right-arrow {
    width: 19%;
  }

  .news-text {
    width: 100%;
    line-height: 2;
  }

  .news-input {
    width: 60%;
  }

  .copyright {
    justify-self: center;
  }

  hr {
    width: 94%;
  }

  .carol-img {
    width: 70%;
    height: 100%;
    transition: all 0.3s ease-in-out;
  }

  .carol-img:hover {
    transform: scale(1.5);
  }

  .carousel {
    margin-top: 2%;
    width: 70%;
  }

  .carousel-button {
    top: 100%;
  }

  .foot {
    margin-top: 10%;
  }
}

@media all and (min-width: 1024px) {
  .navlist {
    width: 55%;

  }

  .about-body-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1%;
  }

  .about-pic {
    grid-column: 2;
    grid-row: 1;
    margin-top: 0;
  }

  .about-btn {
    padding: 3%;
    width: 45%;
    margin-top: 0;
  }

  .about-text,
  .photo-text {
    margin-top: 1%;
  }

  .top-pick-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4%;
    margin-top: 2%;
  }

  .top-picks {
    margin-top: 1%;
  }

  .top-images {
    height: 120%;
  }

  .top-pick-img {
    height: 100%;
  }

  .photo-title {
    margin-left: 12%;
  }

  .about-title {
    margin-left: 11%;
  }

  .about-p {
    grid-column: 1;
    grid-row: 1;
  }

  .about-btn-link {
    margin-top: 49%;
    grid-column: 1;
    grid-row: 1;
  }

  .facility-number {
    grid-row: 2;
    grid-column: 2;
  }

  .book-room {
    padding: 5% 12% 5% 12%;
    flex-direction: row;
  }

  .book-room__img {
    width: 50%;
  }

  .book-text {
    line-height: 1.6;
  }

  .book {
    width: 50%;
  }

  .carousel-track {
    margin-top: 0;
  }

  .carousel-slide {
    margin-top: 2%;
  }

  .left-arrow,
  .right-arrow {
    width: 13%;
  }

  .foot {
    grid-template-columns: 1fr 20% 20% 1fr;
    padding: 0 12%;
    margin-left: 0;
  }

  .foot-logo {
    grid-column: 1;
  }

  .navigation {
    justify-self: start;
  }

  .newsletter {
    grid-column: 4;
    margin-top: 0;
  }

  .news-input {
    width: 100%;
    padding: 4%;
  }

  .input-wrap {
    margin-top: 7%;
  }

  .foot-logo_img {
    width: 40%;
  }

  .foot-text {
    line-height: 2;
  }

  .navigation-title,
  .contact-title {
    font-size: 1.3rem;
  }

  .navigation-links {
    margin-top: 24%;
  }

  .contact-wrap {
    margin-top: 14%;
  }

  .navigation-text {
    margin-top: 14%;
  }

  .contact-tel {
    margin-top: 28%;
  }

  .contact-mail {
    margin-top: 5%;
  }

  hr {
    width: 100%;
    grid-column: 1/5;
  }

  .socials {
    margin-top: 7%;
  }

  .fab {
    font-size: 2rem;
  }

  .copyright {
    grid-column: 1/5;
  }

  .send-icon-btn {
    padding: 3%;
  }

  .photo-text {
    margin-left: 12%;
  }

  .copy-text {
    width: 100%;
  }
}

@media all and (min-width: 1440px) {
  .book-text {
    font-size: 2rem;
  }

  .book-btn {
    padding: 4%;
    font-size: 1.5rem;
    border-radius: 31px;
  }

  .photo-title {
    font-size: 1.5rem;
  }

  .photo-text {
    margin-top: 1%;
  }

  .foot {
    grid-template-columns: 1fr 20% 20% 1fr;
  }

  .newsletter {
    grid-column: 4;
    margin-top: 0;
  }

  hr {
    grid-column: 1/5;
  }

  .copyright {
    grid-column: 1/5;
  }
}