/* RESETS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink-bg: #fbf5f5;
    --orange: #f3684a;
    --almost-black: #2d2a2a;
    --footer-text: #7d7878;
}



body {
    font-family: 'Roboto', sans-serif;
}


/* HEADER STYLES */
header {
    background: url('https://res.cloudinary.com/dhypceiuh/image/upload/v1591792444/contact-img/contact-header-img_mc7rtv.jpg');
    height: 30vh;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 38% 11%;
    width: 100%;
}

.heading {
    display: flex;
    align-content: center;
}

.contact-logo {
    width: 23%;
}

.hide {
    display: none;
}

.navlist.show {
    display: flex;
    text-align: center;
    line-height: 32px;
    transition: .9s ease-in-out;
    box-shadow: 0px 4px 3px 0px #f9f9f9;
    padding: 2%;
    position: absolute;
    top: 23%;
    left: 9%;
    background: #fff;
    width: 83%;
    border: 2px solid var(--orange);
    z-index: 9999;
}

.navlist {
    width: 100%;
    flex-direction: column;
}

.nav-item {
    text-decoration: none;
    cursor: pointer;
    color: var(--orange);
}

#hamclose {
    display: none;
}

.hamburger,
.hamclose {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
    margin-right: 6%;
}

.hamburger:focus,
.hamclose:focus {
    outline: none;
}

.fa-bars,
.fa-times {
    font-size: 1.5rem;
}

.main-head {
    padding: 1px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 8%;
    margin-top: 4%;
}

.top-nav p {
    /* border: 1px solid blue; */
    margin-left: 5em;
}

.sub-head {
    padding: 0 8%;
    margin-top: 5%;
}

.sub-head h2 {
    font-size: 2rem;
}

.sub-head p {
    color: #F3684A;
    letter-spacing: .05em;
    font-size: 0.775rem;
}


/* MAP SECTION */
#map {
    margin: 1.5em 1em;
    height: 30vh;
}

/* CONTACT SECTION */
#contact {
    padding: 0 8%;
    margin-top: 5%;
}

#contact p {
    color: #F3684A;
    letter-spacing: .05em;
    font-size: 0.875rem;
}

#contact h3 {
    width: 50%;
    font-weight: 500;
    color: #2D2A2A;
    margin-top: 2%;
}

#contact form {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 4%;
}

#contact textarea {
    background: #FBF5F5;
    border: 1px solid transparent;
    outline: none;
    color: #B8B3B3;
    font-size: 90%;
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    height: 138px;
}

textarea::placeholder,
input::placeholder {
    font-size: 0.675rem;
}

.inputs-div {
    display: grid;
    grid-gap: 6%;
    margin-top: 4%;
}

#contact input {
    width: 100%;
    padding: 3%;
    background: #FBF5F5;
    border-radius: 2px;
    border: 1px solid transparent;
    outline: transparent;
    color: #B8B3B3;
    font-size: 80%;
}

.btn-contact {
    background: #F3684A;
    color: white;
    border-radius: 0;
    border: 1px solid transparent;
    width: 100%;
    padding: 3%;
    cursor: pointer;
}

.btn-contact:focus {
    outline: none;
}



/* CONTACT DETAILS SECTION */
#contact-details {
    border-bottom: 0.5px solid #CAC7C7;
    padding-bottom: 2em;
    margin: 3em 1em;
    display: block;

}


.detail i {
    background: #F3684A;
    color: white;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 50%;
}

#msg-icon {

    padding: 1em;
}

.detail {
    margin-top: 4%;
    display: flex;
    align-content: center;
}

.detail-text {

    margin-top: 1em;
    margin-left: 1.5em;
}

.detail-text h3 {
    color: #2D2A2A;
    margin-bottom: .3em;
    /* font-size: 1rem; */

}

.detail-text p {
    color: #4A4A4A;
    line-height: 1.5;
    /* font-size: 0.675rem; */
}

/* book room section */

.book-room {
    display: flex;
    padding: 10%;
    flex-direction: column;
}

.book-room__img {
    width: 100%;

}

.book {
    background: var(--orange);
    width: 100%;
    margin-top: 0;
    padding: 1px;
    text-align: center;
}

.book-text {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 5%;
    padding: 9%;
    text-align: left;
}

/* carousel section */

.photo-title {
    margin-left: 11%;
    color: var(--orange);
    font-size: 0.875rem;
}

.picks-title {
    margin-left: 12%;
}

.photo-text {
    color: var(--almost-black);
    margin-left: 11%;
    font-size: 1.3rem;
    margin-top: 3%;
    font-weight: 600;
}

.carousel {
    position: relative;
    margin: auto;
    margin-top: 10%;
}

.carousel-container {
    padding: 8px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carol-img {
    width: 100%;
    height: 80%;
}

.carousel-track {
    list-style: none;
    position: relative;
    height: 300px;
    transition: transform 250ms ease-in;
    margin-top: 10%;
}

.slide-link {
    text-decoration: none;
    color: #293651;
    font-size: 1.2rem;
}

.carousel-slide {
    text-align: center;
    width: 100%;
    position: absolute;
    /* height: 500px; */
    top: 0;
    bottom: 0;
}

.carousel-button {
    position: absolute;
    top: -8%;
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 50%;
}

.carousel-left {
    left: 3%;
}

.carousel-right {
    right: 3%;
}

.left-arrow,
.right-arrow {
    width: 25%;
}

.hide {
    display: none;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

/* footer */

.foot {
    margin-left: 11%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2%;
}

.foot-logo {
    grid-column: 1/3;
}

.foot-logo_img {
    width: 23%;
}

.foot-text {
    color: var(--footer-text);
    font-size: 0.875rem;
    line-height: 1.6;
    width: 87%;
    margin-top: 2%;
}

.socials {
    margin-top: 2%;
    margin-bottom: 5%;
}

.fab {
    font-size: 1.5rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-youtube {
    color: #ff0000;
}

.fa-twitter-square {
    color: #55acee;
}

.navigation-title,
.contact-title {
    color: var(--footer-text);
    font-weight: 600;
}

.navigation-links {
    display: grid;
    margin-top: 3%;
}

.navigation-text {
    color: var(--footer-text);
    text-decoration: none;
    margin-top: 3.3%;
}

.contact {
    padding: 1%;
}

.contact-text {
    margin-top: 1.3%;
    color: var(--footer-text);
}

.contact-tel {
    margin-top: 5%;
}

.contact-wrap {
    margin-top: 3%;
}

.newsletter {
    margin-top: 5%;
    grid-column: 1/3;
}

.news-text {
    color: var(--footer-text);
    margin-top: 5%;
    width: 87%;
}

.input-wrap {
    display: flex;
    margin-top: 2%;
    margin-bottom: 5%;
}

.news-input {
    padding: 2%;
    border-radius: 5px 0 0 5px;
    background: #f8f8f8;
    border: 0.5px solid #e4e4e4;
}

.news-input:focus {
    outline: none;
    border: none;
}

.news-input::placeholder {
    color: #7d7878;
    font-size: 0.765rem;
}

.send-img {
    width: 75%;
    padding: 4%;
}

.send-icon-btn {
    background: #f3684a;
    border: 0;
    outline: 0;
    padding: 1%;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.send-icon-btn:focus {
    outline: 0;
}

.copyright {
    margin-top: 5%;
    grid-column: 1/3;
    margin-bottom: 8%;
    justify-self: left;
}

.copy-text {
    color: var(--footer-text);
    font-size: 0.675rem;
}

.copy-p {
    margin-top: 4%;
}

hr {
    width: 86%;
    grid-column: 1/3;
}

/* buttons */

.btn {
    padding: 3%;
    border: 0;
    width: 47%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    outline: 0;
    cursor: pointer;
}

.book-btn {
    border-radius: 20px;
    margin-bottom: 17%;
    color: var(--orange);
    transition: all 0.3s ease-out;
}

.btn:focus {
    outline: none;
}

.book-btn:hover {
    color: #fff;
    background: var(--orange);
    box-shadow: 0 0 0 2px #fff;
}

@media all and (min-width:768px) {
    header {
        height: 40vh;
        padding: 0em 1em;
    }

    .hamburger,
    .hamclose {
        display: none;
    }

    .nav-item {
        color: #fff;
        transition: all 0.3s ease-in-out;
    }


    .nav-item:hover {
        color: #f3684a;
    }

    .navlist {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1em;
        margin-top: 1%;
        width: 66%;

    }

    #map {
        margin: 3.5em 1em;
        height: 50vh;
    }

    #contact {
        padding: 0em 4em;

    }

    #contact p {
        font-size: 1.3rem;
    }

    #contact h3 {
        font-size: 2rem;
    }

    #contact form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 248px;
        width: 100%;
        grid-gap: 1.5em;
    }

    #contact textarea {

        resize: none;
        height: auto;
    }

    .inputs-div {
        grid-gap: 1.5em;
        margin-top: 0;
    }

    textarea::placeholder,
    input::placeholder {
        font-size: 0.875rem;
    }

    .btn-contact {
        padding: 1em;
    }

    #contact-details {
        display: flex;
        justify-content: space-between;
        margin: 3em 6em 0em 6em;
        padding-bottom: 4em;
    }

    .detail {
        display: block;
        margin-top: 0;
    }

    .detail-text {
        margin-left: 0;
    }

    #msg-icon {
        padding: .5em;
    }

    .book-text {
        font-size: 1.4rem;
    }

    .photo-title {
        font-size: 1.3rem;
    }

    .photo-text {
        font-size: 2rem;
        width: 60%;
    }

    .carousel-right {
        right: -13%;
    }

    .carousel-left {
        left: -13%;
    }

    .left-arrow,
    .right-arrow {
        width: 19%;
    }

    .news-text {
        width: 100%;
        line-height: 2;
    }

    .news-input {
        width: 60%;
    }

    .copyright {
        justify-self: center;
    }

    hr {
        width: 94%;
    }

    .carol-img {
        width: 70%;
        height: 100%;
        transition: all 0.3s ease-in-out;
    }

    .carol-img:hover {
        transform: scale(1.5);
    }

    .carousel {
        margin-top: 2%;
        width: 70%;
    }

    .carousel-button {
        top: 100%;
    }

    .foot {
        margin-top: 10%;
    }

}

@media all and (min-width:1024px) {

    .navlist {
        width: 55%;

    }

    #map {
        margin: 3.5em 6em;
    }

    .photo-text {
        margin-top: 1%;
    }

    .photo-title {
        margin-left: 12%;
    }

    #contact {

        padding: 0em 6em;
    }

    .book-room {
        padding: 15% 12% 5% 12%;
        flex-direction: row;
    }

    .book-room__img {
        width: 50%;
    }

    .book-text {
        line-height: 1.6;
    }

    .book {
        width: 50%;
    }

    .carousel-track {
        margin-top: 0;
    }

    .carousel-slide {
        margin-top: 2%;
    }

    .left-arrow,
    .right-arrow {
        width: 13%;
    }

    .foot {
        grid-template-columns: 1fr 20% 20% 1fr;
        padding: 0 12%;
        margin-left: 0;
    }

    .foot-logo {
        grid-column: 1;
    }

    .navigation {
        justify-self: start;
    }

    .newsletter {
        grid-column: 4;
        margin-top: 0;
    }

    .news-input {
        width: 100%;
        padding: 4%;
    }

    .input-wrap {
        margin-top: 7%;
    }

    .foot-logo_img {
        width: 40%;
    }

    .foot-text {
        line-height: 2;
    }

    .navigation-title,
    .contact-title {
        font-size: 1.3rem;
    }

    .navigation-links {
        margin-top: 24%;
    }

    .contact-wrap {
        margin-top: 14%;
    }

    .navigation-text {
        margin-top: 14%;
    }

    .contact-tel {
        margin-top: 28%;
    }

    .contact-mail {
        margin-top: 5%;
    }

    hr {
        width: 100%;
        grid-column: 1/5;
    }

    .socials {
        margin-top: 7%;
    }

    .fab {
        font-size: 2rem;
    }

    .copyright {
        grid-column: 1/5;
    }

    .send-icon-btn {
        padding: 3%;
    }

    .photo-text {
        margin-left: 12%;
    }

    .copy-text {
        width: 100%;
    }
}

@media all and (min-width: 1440px) {
    .book-text {
        font-size: 2rem;
    }

    .book-btn {
        padding: 4%;
        font-size: 1.5rem;
        border-radius: 31px;
    }

    .photo-title {
        font-size: 1.5rem;
    }

    .photo-text {
        margin-top: 1%;
    }

    .foot {
        grid-template-columns: 1fr 20% 20% 1fr;
    }

    .newsletter {
        grid-column: 4;
        margin-top: 0;
    }

    hr {
        grid-column: 1/5;
    }

    .copyright {
        grid-column: 1/5;
    }


}